<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebHook App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <style>
    .wrapper {
    text-align: center;
}

button {
  position: fixed;
   left: 43%;
   top:43%;
}
h1{
  margin:30px;
  padding: 20px;
}
  </style>
  <!-- Custom styles for this template -->
  
</head>
<body>
<div class="container">
    <h1 class="text-center"> Catching WebHook From Shopify</h1>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="wrapper">
              <button onclick="window.location.href='/orders'" class="text-center btn btn-lg btn-success">View All Orders</button>
          </div>  
        </div>
    </div>
</div>  



</body>
</html>
